@font-face {
    font-family: 'Theinhardt';
    src: url('Theinhardt-Regular.woff2') format('woff2'),
        url('Theinhardt-Regular.woff') format('woff'),
        url('Theinhardt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Theinhardt', sans-serif;
}

.page-container {
    position: relative;
    min-height: 100%;
  }

.app-container {
    display: block;
    height: 100%;
    padding-bottom: 2.5rem;
}

.header-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: -0.75rem, 0.5rem, 0rem, 0.5rem;
    position: fixed;
}

.name-tag-container {
    padding-left: 0.75rem;
    margin-bottom: -7vh;
}

.name-heading {
    font-size: 5.5rem;
    margin-bottom: -20px;
    margin-top: 0.2rem;
    font-weight: normal;
    letter-spacing: -0.2rem;
    mix-blend-mode: difference;
}

.name-tag-container a {
    text-decoration: none;
    color: black;
}

.job-title {
    font-size: 5.5rem;
    margin-top: 0;
    font-weight: 200;
    letter-spacing: -0.2rem;
}

.nav-bar {
    margin: 2.5rem;
    padding-right: 0.75rem;
    display: inline-flex;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
    padding-left: 0.4rem;
    font-size: large;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.social-bar {
    align-content: right;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: -0.7rem;
}

.social-bar a {
    text-decoration: none;
    color: black;
    padding-top: 1rem;
    font-size: small;
}

.social-bar a:hover {
    text-decoration: underline;
}

.home-body {
    width: 100vw;
    height: 70vh;
    display: flex;
    padding-top: 30vh;
}

.text-box {
    width: 92.5vw;
    height: 75vh;
    display: block;
}

.text-box p {
    padding: 0, 1rem, 2rem, 2rem;
    line-height:  2.5rem;
}

.int-1 {
    text-indent: 6rem;
    font-size: 1.9rem;
    margin-left: 26vw;
    letter-spacing: -0.05rem;
}

.int-2 {
    text-indent: 6rem;
    font-size: 1.9rem;
    margin-left: 26vw;
    letter-spacing: -0.05rem;
}

.int-3 {
    text-indent: 6rem;
    font-size: 1.9rem;
    margin-left: 26vw;
    letter-spacing: -0.05rem;
}

.profile-pic {
    width: 30vw;
    margin-left: 62vw;
    margin-bottom: 20vh;
    margin-top: -3vh;
    
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 100vw;
    height: 50%;
    position: relative;
    box-sizing: inherit;
    box-sizing: border-box;
  }
  
  .wrapper:before,
  .wrapper:after {
    content: " ";
    display: table;
  }
  
  .wrapper:after {
    clear: both;
  }
  
  .wrapper .box {
    padding: 0;
    position: relative;
    float: left;
    width: 33.33333%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    border: black;
    border-style: solid;
    border-width: 0.1vw;
    animation: fadeInLeft linear 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  }

@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
} 
  
  
  .box .content {
    margin: 10px;
    padding: 10px;
    min-height: 100px;
    box-sizing: border-box;
    text-align: left;
  }

  .work-title {
      font-size: 2.5vh;
      margin-top: -4%;
  }

  .details a {
      font-size: 2vh;
      text-decoration: none;
      color: black;
  }

  .work-details {
      text-align: left;
      margin-top: 40%;
      font-size: 1.8vh;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    display: inline-flex;
    justify-content: space-evenly;
    height: 2.5rem; 
    background-color: white;
}

@media (max-width: 380px) {
    .social-bar {
        display: none;
    }
}

@media (max-width:320px)  { 
    .header-container {
        position: relative;
    } 

    .name-heading {
        font-size: 3rem;
    }

    .job-title {
        font-size: 3rem;
    }

    .nav-bar {
        display: grid;
    }

    .home-body {
        padding-top: 8vh;
    }

    .text-box p {
        font-size: 0.75rem;
        line-height: 1.5rem;
        margin-left: 7vw;
        text-indent: 0;
        letter-spacing: 0rem;
    }

    .profile-pic {
        width: 60vw;
        margin-left: 42vw;
        margin-bottom: 20vh;
        margin-top: 1vh;
    }

    .social-bar {
        margin-left: -1.5rem;
    }

    .footer p {
        font-size: 0.75rem;
    }
}

@media (max-width:481px)  {
    .header-container {
        position: relative;
    } 

    .name-heading {
        font-size: 3rem;
    }

    .job-title {
        font-size: 3rem;
    }

    .nav-bar {
        display: grid;
    }

    .home-body {
        padding-top: 8vh;
    }

    .text-box p {
        font-size: 0.75rem;
        line-height: 2rem;
        margin-left: 18vw;
        text-indent: 0;
        letter-spacing: 0rem;
    }

    .profile-pic {
        width: 60vw;
        margin-left: 42vw;
        margin-bottom: 20vh;
        margin-top: 1vh;
    }

    .social-bar {
        margin-left: -1.5rem;
    }

    .footer p {
        font-size: 0.75rem;
    }
}
@media (max-width:641px)  { 
    .header-container {
        position: relative;
    } 
    .name-heading {
        font-size: 4rem;
    }

    .job-title {
        font-size: 4rem;
    }

    .home-body {
        padding-top: 5vh;
    }

    .text-box p {
        font-size: 1.5rem;
        margin-left: 18vw;
    }

    .profile-pic {
        width: 50vw;
        margin-left: 42vw;
        margin-bottom: 20vh;
        margin-top: 1vh;
    }
 }
@media (max-width:961px)  { 
    .header-container {
        position: relative;
    } 

    .home-body {
        padding-top: 10vh;
    }

    .profile-pic {
    width: 40vw;
    margin-left: 52vw;
    }
 }
